@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@400;600;700&family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}

:root {
  --cor-1: #FFFFFF;
  --cor-2: #222222;
  --cor-hover: #008aff;
}

.dark-theme {
  --cor-1: #222222;
  --cor-2: #FFFFFF;
}

html {
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
	background-color: var(--cor-1);
}

header {
	width: 100vw;
	z-index: 2;
	position: fixed;
}

#container-load {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
}

.pre {
  display: block;
}

.txt-load {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.pre img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

.load {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 30px;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF8000;
  animation: load 1s infinite linear;
}

@keyframes load {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.ball:nth-child(1){
  animation-delay: 0.1s;
}
.ball:nth-child(2){
  animation-delay: 0.3s;
}
.ball:nth-child(3){
  animation-delay: 0.5s;
}

.txt-load-2 {
  color: white;
  margin-top: 30px;
  text-align: center;
}

#content {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-2);
  box-sizing: border-box;
  padding: 0 80px;
  height: 6vh;
  min-height: 50px;
}

#menu {
  display: flex;
}

#link-logo {
  background-color: transparent;
}

.logo a {
  font-family: 'Dancing Script', cursive;
  color: var(--cor-1);
  text-decoration: none;
  font-size: 35px;
}

.nav-list {
  list-style: none;
  display: flex;
	align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 10px;
}

.nav-list li a {
  padding: 8px;
  color: var(--cor-1);
  transition: .3s;
  text-decoration: none;
  font-weight: bold;
}

.nav-list li a:hover {
  color: var(--cor-hover);
}

#icon {
  width: 30px;
  cursor: pointer;
  margin-left: 30px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: var(--cor-1);
  margin: 8px;
  transition: .3s;
}

.top {
  max-width: 100vw;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./imagens/bg-top.jpg);
}

.shadow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
}

.top h1 {
  color: white;
  font-weight: normal;
  font-size: 3em;
}

.top h2 {
  color: white;
  font-weight: normal;
  font-family: 'Aboreto', cursive;
}

.Sobre-nos {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 70px 50px 0 20px;
}

.img-hashi {
  width: 150px;
  height: 150px;
  margin: 0 30px 0 150px;
  animation: sushi 3s ease-in-out infinite;
}

.img-sushi {
  width: 200px;
  height: 90px;
  margin: 30px 30px 0 100px;
}

@keyframes sushi {
  from {
    transform: translateY(35px);
  }
  to {
    transform: translateY(10px);
  }
}

.text-sobre h1 {
  color: var(--cor-2);
  text-align: center;
  margin-bottom: 20px;
}

.text-sobre p {
  max-width: 1000px;
  color: var(--cor-2);
  text-align: justify;
}

.especiarias {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.espe-1 {
  width: 500px;
  height: 250px;
  margin-top: 15px;
  background-image: url(./imagens/smoothies.jpg);
  background-size: cover;
  background-position: center;
}

.espe-2 {
  width: 500px;
  height: 250px;
  margin-top: 15px;
  background-image: url(./imagens/prato-1.jpg);
  background-size: cover;
  background-position: center;
}

.espe-3 {
  width: 500px;
  height: 250px;
  margin-top: 15px;
  background-image: url(./imagens/sushi.jpg);
  background-size: cover;
  background-position: center;
}

.txt-1, .txt-2, .txt-3 {
  max-width: 100%;
  height: 100%;
  font-weight: normal;
  text-align: center;
}

.txt-1 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.txt-2 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.txt-3 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.txt-1 a {
  animation-delay: .1s;
}

.txt-2 a {
  animation-delay: .2s;
}

.txt-3 a {
  animation-delay: .3s;
}

.txt-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#span {
  color: red;
  margin-top: 30px;
  margin-bottom: 5px;
}

.txt-4 h2 {
  margin-bottom: 5px;
  font-weight: normal;
}

.txt-4 p, h2 {
  text-align: center;
  max-width: 400px;
  color: var(--cor-2);
}

.txt-4 button {
  background-color: var(--cor-2);
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  transition: .5s;
}

.txt-4 button a {
  text-decoration: none;
  color: var(--cor-1);
  padding: 10px 20px;
}

.txt-4 button:hover {
  background-color: #0080ff;
}

.chef {
  padding: 30px 0;
  margin-top: 40px;
  background-color: var(--cor-1);
}

.chef img {
  width: 300px;
  height: 500px;
  display: block;
  margin: auto;
}

.chef h1 {
  text-align: center;
  font-family: 'Aboreto', cursive;
  color: var(--cor-2);
  margin: 25px 0 20px 0;
}

.chef h3 {
  color: var(--cor-2);
  margin-top: 10px;
  text-align: center;
}

.sushi-man {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-1 {
  margin-right: 10px;
}

.chef-2 {
  margin-left: 10px;
}

.nosso-menu {
  padding: 30px 0;
  margin-top: 40px;
}

.nosso-menu h1 {
  text-align: center;
  font-family: 'Aboreto', cursive;
  color: var(--cor-2);
  margin: 25px 0 20px 0;
}

#entradas {
 width: 100vw;
 margin: 15px 0 0 0;
 padding: 15px 0 0 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#entradas h1 {
  width: 100%;
  color: var(--cor-2);
  text-align: center;
  margin-top: 50px;
}

.entrada-1, .entrada-2, .prt-1, .almoco, .sobre-1, .sobre-2 {
  color: var(--cor-2);
  margin: 10px 0;
  text-align: center;
}
.entrada-1 img {
  width: 400px;
  height: 400px;
}
.entrada-2 img {
  width: 400px;
  height: 400px;
}
#prato-principal {
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#prato-principal h1 {
  width: 100%;
  color: var(--cor-2);
  text-align: center;
  margin-top: 60px;
}
.prt-1 img {
  width: 400px;
  height: 400px;
}
.almoco img {
  width: 400px;
  height: 400px;
}
#sobremesa {
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#sobremesa h1 {
  width: 100%;
  color: var(--cor-2);
  text-align: center;
  margin-top: 50px;
}
.sobre-1 img {
  width: 400px;
  height: 400px;
}
.sobre-2 img {
  width: 400px;
  height: 400px;
}

footer p {
  margin-top: 10px;
  padding-bottom: 5px;
  color: var(--cor-2);
  text-align: center;
  font-style: italic;
}


@media screen and (max-width: 960px) {
  .logo a {
    font-family: 'Dancing Script', cursive;
    color: var(--cor-1);
    text-decoration: none;
    font-size: 30px;
  }
  
  .nav-list li a {
    padding: 8px;
    color: var(--cor-1);
    transition: .3s;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  #icon {
    width: 36px;
    cursor: pointer;
    margin-left: 30px;
  }
}


@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 6vh;
    right: 0;
    width: 50vw;
    height: 94vh;
    background-color: var(--cor-2);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 100px 0;
    transform: translateX(100%);
    transition: transform .3s ease-in;
    box-sizing: border-box;
    padding: 100px 0;
  }

  .nav-list li {
    max-height: 85%;
    margin-left: 0;
    opacity: 0;
  }

  .nav-list li a {
    padding: 20px;
  }

  #icon {
    width: 36px;
    cursor: pointer;
    margin-right: 60px;
    margin-left: 0;
  }

  .mobile-menu {
    display: block;
    margin-right: -110px;
  }

  .nav-list.active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line-2 {
    opacity: 0;
  }

  .mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}
